.header {
  width: 100%;
  background-color: var(--grey-700);
  height: 12.5rem;
}

.title {
  margin: auto;
  display: flex;
  align-items: center;
  max-width: 8.2rem;
  padding-top: 4.5rem;
  font-size: 2.5rem;
  justify-content: space-between;
  font-weight: 900;
  color: var(--purpleDark);
}

.title :first-child {
  color: var(--blue);
}

.text {
  margin-bottom: 0.5rem;
}
